<table class = "table table-light table-hover table-bordered border-3 align-middle">
    <tr>
            <td width = "40%">  {{course.get_major().get_name()}} {{course.get_coursenum()}} - {{course.get_title()}} </td>
            <td width = "40%">
                {% if current_user.is_enrolled(course) == False %}
                <form action="{{url_for('main.enroll', course_id = course.id )}}" method= "POST"> 
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='Enroll', class='btn btn-outline-success border-2 col-3' ) }}
                </form>
                {% else %}
                <form action="{{url_for('main.unenroll', course_id = course.id )}}" method= "POST"> 
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='Unenroll', class='btn btn-outline-danger border-2 col-3') }}
                </form>
                Enrolled on {{moment(current_user.get_enrolment_date(course)).format('LL')}}
                {% endif %}
            </td>
            <td width = "20%">
                 <!-- <a href = "{{url_for('main.roster', course_id = course.id)}}" class="button"> {{course.get_major().get_name()}} {{course.get_coursenum()}} Roster</a> -->
                <button class="btn btn-secondary col-15" onclick = "get_roster({{course.id}})"> {{course.get_major().get_name()}} {{course.get_coursenum()}} Roster </button>
            </td>
    </tr>

</table>

<div id="roster-div-{{course.id}}" hidden = true >
    <h3 id = "rheader" class = "bluetitle"> {{course.get_major().get_name()}} {{course.get_coursenum()}}  - {{course.get_title()}}</h2>
    <table id = "rtable" class = "studenttable">
        <thead>
        <tr valign="bottom">
                <th width="20%"> Name </td>
                <th width="30%"> Email </td>
                <th width="30%"> Address </td>
                <th width="20%"> Student last seen at:</td>
        </tr>
        </thead>

    </table>
    <div class = "left-allign-div">
    <button class = "ebutton" onclick = "reset_roster({{course.id}})"> Close </button>
    </div>
</div>

{% block script %}
<script>

async function get_roster( course_id ) {
    const url = "{{ url_for('main.roster_data',course_id = 'course_id') }}".replace("course_id", course_id);
    try {
        const response = await fetch(url);
        if (!response.ok) {
            throw new Error(`Response status: ${response.status}`);
        }
        const json = await response.json();
        console.log(json);
        build_roster(course_id, json);
    } catch(error) {
        console.error(error.message)
    }
}

function build_roster(course_id, data) {
    reset_roster(course_id)
    let parent_div = document.getElementById(`roster-div-${course_id}`)    
    let header = parent_div.querySelector("#rheader") 
    header.textContent = `${data['course_major']} ${data['course_num']} - ${data['course_title']}`
    let rtable = parent_div.querySelector("#rtable")

    for (let i = 0; i < data['student_count']; i++ ){
        let tr_elem = document.createElement("tr") 
        tr_elem.vAlign = "middle"
        let td_name = document.createElement("td")
        td_name.width = "20%"
        td_name.textContent = `${data['students'][i]['firstname']} ${data['students'][i]['lastname']}`
        tr_elem.appendChild(td_name)

        let td_email = document.createElement("td")
        td_email.width = "30%"
        td_email.textContent = `${data["students"][i]["email"]}`
        tr_elem.appendChild(td_email);  

        let td_address = document.createElement("td")
        td_address.width = "30%"
        td_address.textContent = `${data["students"][i]["address"]}`
        tr_elem.appendChild(td_address);    

        let td_date = document.createElement("td")
        td_date.width = "30%"
        td_date.textContent = `${utc_to_local(data["students"][i]["last_seen"])}`
        tr_elem.appendChild(td_date);   
        
        rtable.appendChild(tr_elem)
    }
    parent_div.hidden = false

}

function reset_roster(course_id) {
    let parent_div = document.getElementById(`roster-div-${course_id}`)    
    let header = parent_div.querySelector("#rheader") 
    header.textContent = ""
    let rtable = parent_div.querySelector("#rtable")
    var tableHeaderRowCount = 1;
    var rowCount = rtable.rows.length;
    for ( var i = tableHeaderRowCount; i < rowCount; i++) {
        rtable.deleteRow(tableHeaderRowCount)
    }
    parent_div.hidden = true
}


function utc_to_local(utcdate) {
        var d = new Date(utcdate);
        return d.toLocaleString()
}

</script>    
{% endblock %}


